.wrapper {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 0 25px 8px;
  gap: 8px;
  background-color: #1e1e1e;
  border-bottom: 1px solid #fff;
  width: 100%;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}

.chip,
.backButton {
  flex: 0 0 auto;
}

.chip {
  white-space: nowrap;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 8px 18px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}

.active {
  background: #fff;
  color: #000;
  border-color: #fff;
  font-weight: 600;
}

.backButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.backIcon {
  width: 28px;
  height: 32px;
}
